<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemPendataanHewan.Properties.Settings.DBHewanPeliharaanADOConnectionString"
            connectionString="Data Source=LAPTOP-2QET043V\DIMAS;Initial Catalog=DBHewanPeliharaanADO;User ID=sa;Password=Slamet454;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>